<mat-nav-list>
    <a mat-list-item routerLink="/gallery" (click)="onClose()">
      <mat-icon>photos</mat-icon>
    <span class="nav-caption">Gallery</span></a>
    <a mat-list-item routerLink="/searchMemorial" (click)="onClose()">
      <mat-icon>search</mat-icon>
      <span class="nav-caption">Search Memorial</span></a>
    <a mat-list-item routerLink="/createMemorial" (click)="onClose()" *ngIf="isAuth">
      <mat-icon>add</mat-icon>
      <span class="nav-caption">Create Memorial</span></a>
    <a mat-list-item routerLink="/login" (click)="onClose()" *ngIf="!isAuth">
      <mat-icon>input</mat-icon>
      <span class="nav-caption">Login</span></a>
    <a mat-list-item routerLink="/signup" (click)="onClose()" *ngIf="!isAuth">
    <mat-icon>face</mat-icon>
     <span class="nav-caption">Signup</span></a>
       <mat-list-item>
        <button mat-icon-button (click)="onLogout()" *ngIf="isAuth">
          <mat-icon>eject</mat-icon>
          <span class="nav-caption">Logout</span>
        </button>
       </mat-list-item>
     
</mat-nav-list>