
<!-- <section class="mat-typography"> -->
        <!-- <p class="mat-display-4">Test</p> -->
        <!-- <h1>This header will be styled</h1> -->
      <!-- </section>	 -->

<div class="footer">
    <div class="logo" fxFlex fxLayout fxLayoutGap="20px">
        <img src="assets/images/rsz_logodorot.jpg">
        <img src="assets/images/DorotMemorialLine.jpg">
    </div>

    <ul class="navigation-items" fxFlex fxLayout flexLayoutAlign="center center">
        <li fxFlex><a routerLink="/donations">Donations</a></li>
        <li fxFlex><a routerLink="/about">About</a></li>
    </ul>
</div>

<!--  -->
<!-- fxFlex fxLayout flexLayoutAlign="center center" fxLayoutGap="20px"  -->

<!-- <section class="footer" fxFlex fxLayout flexLayoutAlign="center center">
<mat-toolbar color='primary'>
        <span class='spacer'></span>
        <div class="logo" fxFlex fxLayout fxLayoutGap="20px">
                <img class="resize" src="/assets/images/rsz_logodorot.jpg">
                <img  class="resize" src="/assets/images/DorotMemorialLine.jpg">
            </div>        
            <ul fxFlex fxLayout flexLayoutAlign="center center" fxLayoutGap="20px" class="navigation-items">
        
                    <li fxFlex><a routerLink="/donations">Donations</a></li>
                    <li fxFlex><a routerLink="/about">About</a></li>
                </ul>
        <span class='spacer'></span>
      </mat-toolbar>
    </section> -->



  

